@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0026b1;
  min-height: 100vh;
  min-width: 10vw;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.container {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.two {
  float: left;
  width: 50%;
  padding-left: 1%;
}

.two left {
  padding-left: 2%;
}

.header {
  background-color: #ffffff;
  padding-left: 30px;
  border-bottom: 2px solid black; 
  border-radius: 5px;
  color: #000000;
  text-shadow: 0.1em 0.1em 0.2em rgb(201, 194, 194) ;
  background-image: url("../../images/rocketico.png");
  background-size: 5%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 38%;
}

.form {
  padding: 20px;
  width: 100%;
}

.form-control {
  padding-left: 10px;
  position: relative;
}
  
.form-control label {
  text-shadow: 0.1em 0.1em 0.2em rgb(201, 194, 194);
  color: #000000;
}

#method {
  margin-top: 10px;
}

#payerId {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control input {
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  width: 100%;  
}

.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: #0030B9;
  border: 1px solid #000000;
  text-shadow: 0.1em 0.1em 0.2em rgb(201, 194, 194) ;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.form button:hover {
  background: #0026b1;
  color: white;
}

.btn {
  background-color: #0030B9;
  border: 1px solid #000000;
  text-shadow: 0.1em 0.1em 0.2em rgb(201, 194, 194) ;
  color: #ffffff;
  font-size: 14px;
  width: 45%;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.form-control.success input {
  border-color: #0030b9;
}

.form-control.error input {
  border-color: #e7473c;
}

.form-control.success i.fa-check-circle {
  color: #0030b9;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e7473c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #e7473c;
}

@media (max-width: 600px) {
  body {
    padding: 10px !important;
    overflow: visible
  }

  .two {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .left {
    padding-left: 0%;
  }
}

.top {
  float: top;
}